.App {
}
h1{
  text-align: center;
}
p{
  padding: 5px 0 0 25%;
}
.PageWrapper{
  margin: auto;
  align-content: center;
}
.WeatherIcon{
    display: block;
    margin: auto;
    padding-left: 25%;

}
/*.FlexBox*/
.WeatherNav {
  display: flex;
  flex-direction: row;

  align-content: center;
  justify-content: flex-end;

  margin: 0 auto;
  max-width: 1080px;
  padding: 20px 0;
  width: 100%;
}

.WeatherNav__Item {
  color: black;
  font-size: 20px;
  margin: 0 20px;
  padding: 10px;
}

.WeatherNav__Item--active {
  background-color: rgb(112, 15, 15);
  text-decoration-style:wavy;
  color: white;
}
