.body {
  box-sizing: border-box;
}
.PageWrapper{
  margin: auto;
  align-content: center;
  padding-left: 25%;
  /*background-color: blue;*/
}
/*.FlexBox*/
.WeatherNav {
  display: flex;
  flex-direction: row;

  align-content: center;
  justify-content: flex-end;

  margin: 0 auto;
  max-width: 1080px;
  padding: 20px 0;
  width: 100%;
}

.WeatherNav__Item {
  color: black;
  font-size: 20px;
  margin: 0 20px;
  padding: 10px;
}

.WeatherNav__Item--active {
  background-color: rgb(112, 15, 15);
  text-decoration-style:wavy;
  color: white;
}

.successMessage{
  background-color: rgba(179,255,191);
  border: 1px solid green;
  border-radius: 5px;
  display: block;
  margin: 20px 0;
  padding: 5px;
  position: relative;
  text-align: center;
  top: 0;
  transition: backgroundColor 500ms ease, top 200ms ease;
}

.successMessage:hover{
  background-color: rgba(179,255,191,0.1);
  top: 5px;
}
